<div id="navigation"><nav>
{%- assign permalink = "/" | append: page.permalink -%}
<ul class="links" style="list-style-type:none;">
{% for item in site.data.nav -%}
{%- assign item_with_index = item[1] | append: "/index.html" %}
{%- if permalink == item[1] or permalink == item_with_index -%}
<li><a href="{{ item[1] }}" aria-current="page">{{ item[0] }}</a></li>
{% else -%}
<li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
{% endif %}
{%- endfor -%}
</ul>
</div></nav>
